@import 'custom-variables';
@import 'utils';
@import 'bootstrap';
@import 'toolbar';
@import 'size-control';

svg{
  stroke: $brand-primary;  
}
label{
    font-family: 'Roboto', sans-serif;
}
.panel{
    overflow: hidden;
}
.panel .panel-heading{
    position: relative;
}
.panel .panel-heading .loading{
    background: linear-gradient(to right, rgba(0,0,0,0) 0%,$loading-color 80%, rgba(0,0,0,0) 100%);
    animation: login-request 2s infinite;
}
@keyframes login-request{
    from {
        left: -20%;        
    }
    to {
        left: 100%;
    }
}
.search{
    height: $navbar-height;
    padding: $navbar-padding-vertical $navbar-padding-horizontal;
    color: white;
    outline: none;
}
.search {
    &:hover, &:focus{
        background-color: darken($brand-primary, 10%);
    }
}
@mixin content-color($color, $bgcolor) {
        color: $color;
        svg *{
            stroke: $color;
            stroke-width: 1;
        }
        background-color: $bgcolor;
}
.btn-shape{
    @extend .btn;
    @extend .btn-default;
    @include button-variant($btn-default-color, $btn-default-bg, $brand-primary);
    &:hover{
        @include content-color(black, lighten($brand-primary, 60%))
    }
    &:focus{
        @include content-color(white, lighten($brand-primary, 15%))
    }
    &, &:active, &.active {
        &:focus, &.focus {
            @include tab-focus-custom(white, $brand-primary);
        }
    }
}
.row.no-gutter{
    margin-left: 0;
    margin-right: 0;
    [class*='col-']{
        padding-left: 0;
        padding-right: 0;
    }
}
.canvas{
    background-color: white;
}